</main>
<footer class="footer has-background-grey-lighter has-text-dark is-hidden-print mt-4">
    <div class="container">
        <div class="content has-text-right">
        <p class="has-text-grey-dark">
            <strong>
            <%= configFunctions.getProperty("application.applicationName") %>
            </strong><br />
            Build <%= buildNumber %>
        </p>
        </div>
    </div>
</footer>
<script>
    window.exports = window.exports || {};
    exports.aliases = {
        map: "<%= configFunctions.getProperty("aliases.map") %>",
        maps: "<%= configFunctions.getProperty("aliases.maps") %>",
        lot: "<%= configFunctions.getProperty("aliases.lot") %>",
        lots: "<%= configFunctions.getProperty("aliases.lots") %>",
        occupancy: "<%= configFunctions.getProperty("aliases.occupancy") %>",
        occupancies: "<%= configFunctions.getProperty("aliases.occupancies") %>",
        occupancyStartDate: "<%= configFunctions.getProperty("aliases.occupancyStartDate") %>",
        occupant: "<%= configFunctions.getProperty("aliases.occupant") %>",
        occupants: "<%= configFunctions.getProperty("aliases.occupants") %>",
        externalReceiptNumber: "<%= configFunctions.getProperty("aliases.externalReceiptNumber") %>",
        workOrderOpenDate: "<%= configFunctions.getProperty("aliases.workOrderOpenDate") %>",
        workOrderCloseDate: "<%= configFunctions.getProperty("aliases.workOrderCloseDate") %>"
    };
</script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-js/bulma-js.js"></script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-webapp-js/dist/cityssm.min.js"></script>
<script src="<%= urlPrefix %>/lib/bulma-calendar/js/bulma-calendar.min.js"></script>
<script src="<%= urlPrefix %>/lib/leaflet/leaflet.js"></script>
<script src="<%= urlPrefix %>/lib/randomcolor/randomcolor.js"></script>
<script>
    cityssm.htmlModalFolder ="<%= urlPrefix %>/html/";
    bulmaJS.init();
</script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-webapp-js/dist/cityssm-theme.min.js" defer></script>
<script src="<%= urlPrefix %>/lib/fa/js/all.min.js" defer></script>
<script src="<%= urlPrefix %>/javascripts/main.min.js"></script>