<%- include('_header'); -%>

<div class="columns is-mobile">
    <div class="column is-2-desktop is-narrow-touch">
      <%- include('_menu-admin'); -%>
    </div>
    <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
            <li>
              <a href="#">
                <span class="icon is-small"><i class="fas fa-cog" aria-hidden="true"></i></span>
                <span>Administrator Tools</span>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                <%= configFunctions.getConfigProperty("aliases.lot") %> Type Management
              </a>
            </li>
          </ul>
        </nav>
        
        <div class="columns is-vcentered">
          <div class="column">
            <h1 class="title is-1">
              <%= configFunctions.getConfigProperty("aliases.lot") %> Type Management
            </h1>
          </div>
          <div class="column has-text-right is-narrow">
            <button class="button is-success" id="button--addLotType" type="button" accesskey="n">
              <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
              <span>Add <%= configFunctions.getConfigProperty("aliases.lot") %> Type</span>
            </button>
          </div>
        </div>
        
        <div id="container--lotTypes"></div>
    </div>
</div>

<%- include('_footerA'); -%>

<script>
    exports.lotTypes = <%- JSON.stringify(lotTypes) %>;
</script>

<script src="<%= urlPrefix %>/javascripts/adminLotTypes.js"></script>

<%- include('_footerB'); -%>
