<%- include('_header'); -%>

<div class="columns">
  <div class="column is-3 is-hidden-mobile">
    <%- include('_menu-admin'); -%>
  </div>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
        <li>
            <a href="#">
    
                <span class="icon is-small"><i class="fas fa-cog" aria-hidden="true"></i></span>
                <span>Administrator Tools</span>
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">
                Ntfy Startup Notification
            </a>
        </li>
      </ul>
    </nav>
    
    <h1 class="title is-1">
      Ntfy Startup Notification
    </h1>

    <div class="message is-info">
      <div class="message-header">
        What is this?
      </div>
      <div class="message-body">
        <p>
          Ntfy is a simple free service able to send push notifications to phones and computers.
          <a href="https://docs.ntfy.sh/subscribe/phone/" target="_blank" rel="noopener noreferrer">Ntfy apps exist for all major phone platforms.</a>
          This application can send a notification to a ntfy server on startup.
        </p>
      </div>
    </div>

    <div class="box">
      <div class="columns">
        <div class="column">
          <p class="has-text-centered">
            <strong>Server</strong><br />
            <%= configFunctions.getProperty("application.ntfyStartup.server") || "Default Server" %>
          </p>
        </div>
        <div class="column">
          <p class="has-text-centered">
            <strong>Topic</strong><br />
            <%= configFunctions.getProperty("application.ntfyStartup.topic") %>
          </p>
        </div>
      </div>
  </div>
  </div>
</div>

<%- include('_footerA'); -%>
<%- include('_footerB'); -%>
