<table class="layout-table">
    <tr>
        <td>
            <h1 class="m-0">Work Order #<%= workOrder.workOrderNumber %></h1>
        </td>
        <td class="has-text-right is-vcentered">
            <strong>
                <% if (workOrder.workOrderCloseDate) { %>
                    CLOSED<br />
                    <% } %>
                <%= workOrder.workOrderType %>
            </strong>
        </td>
    </tr>
</table>
<div class="box mt-1">
    <table class="layout-table">
        <tr>
            <td>
                
                <p>
                    <strong>Description</strong><br />
                    <%= workOrder.workOrderDescription %>
                </p>
            </td>
            <td class="pl-1 is-width-1 has-text-nowrap">
                <p>
                    <strong><%= configFunctions.getProperty("aliases.workOrderOpenDate") %></strong><br />
                    <%= workOrder.workOrderOpenDateString %>
                </p>
                <% if (workOrder.workOrderCloseDate) { %>
                    <p>
                        <strong><%= configFunctions.getProperty("aliases.workOrderCloseDate") %></strong><br />
                        <%= workOrder.workOrderCloseDateString %>
                    </p>
                <% } %>
            </td>
        </tr>
    </table>
</div>
